nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
  background-color: #fff;
  border-bottom: 1px solid #ddd;
}

.logo-container {
  display: flex;
  align-items: center;
}

.logo-container img {
  margin-right: 10px;
}

nav div {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

nav a,
nav button {
  margin-left: 10px;
  padding: 10px 20px;
  border-radius: 5px;
  border: none;
  background-color: #ff4c4c;
  color: white;
  text-decoration: none;
  cursor: pointer;
}

nav a:hover,
nav button:hover {
  background-color: #e63e3e;
}
